<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
  <div class="row justify-content-center mt-5">
    <mat-card class="col-md-3">
      <mat-card-header class="d-flex justify-content-center">
        <h3>Reset Password</h3>
      </mat-card-header>
      <mat-card-content class="mt-2">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input [type]="currentPasswordHidden ? 'password' : 'text'" matInput placeholder="Password"
              formControlName="currentPassword">
            <mat-icon matSuffix (click)="currentPasswordHidden = !currentPasswordHidden">{{ currentPasswordHidden ? 'visibility_off' :
              'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input [type]="newPasswordHidden ? 'password' : 'text'" matInput placeholder="Password"
              formControlName="newPassword">
            <mat-icon matSuffix (click)="newPasswordHidden = !newPasswordHidden">{{ newPasswordHidden ? 'visibility_off' :
              'visibility'}}</mat-icon>
          </mat-form-field>
          <div
            *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.touched || resetForm.get('newPassword')?.dirty)">
            <p class="error-margin text-danger" *ngIf="resetForm.get('newPassword')?.errors?.required">password is
              required</p>
            <p class="error-margin text-danger" *ngIf="resetForm.get('newPassword')?.errors?.pattern">Password should
              contain alpha, numeric and special characters of minimum 8 characters</p>
          </div>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm New Password</mat-label>
            <input [type]="confirmPasswordHidden ? 'password' : 'text'" matInput placeholder="Password"
              formControlName="confirmPassword">
            <mat-icon matSuffix (click)="confirmPasswordHidden = !confirmPasswordHidden">{{ confirmPasswordHidden ? 'visibility_off' :
              'visibility'}}</mat-icon>
          </mat-form-field>
          <div
            *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.dirty)">
            <p class="error-margin text-danger" *ngIf="resetForm.get('confirmPassword')?.errors?.required">password is
              required</p>
            <p class="error-margin text-danger" *ngIf="resetForm.get('confirmPassword')?.errors?.pattern">Password should
              contain alpha, numeric and special characters of minimum 8 characters</p>
          </div>
          <div *ngIf="passwordMatch === false">
            <p class="error-margin text-danger">Password does not match</p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer class="mb-3">
        <div class="d-flex justify-content-end">
          <div>
            <button type="reset" #resetBtn mat-raised-button color="accent" class="me-2">Cancel</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="resetForm.invalid || !passwordMatch">Reset
              Password</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
