.card-one {
  background-color: #0000ff1c;

  .label {
    font-size: 3rem;
    color: #0000ff85;
  }

  .count {
    font-size: 3rem;
    color: #ff000059;
  }
}

.card-two {
  background-color: #ee82ee2e;

  .label {
    font-size: 3rem;
    color: #0000ff85;
  }

  .count {
    font-size: 3rem;
    color: #ff000059;
  }
}

.card-three {
  background-color: #ffff002b;

  .label {
    font-size: 3rem;
    color: #0000ff85;
  }

  .count {
    font-size: 3rem;
    color: #ff000059;
  }
}
