* {
  margin: 0;
}

.user-card {
  padding: 8px 16px;
    max-width: 100%;
    text-align: center;
    font-family: "verdana";
}

.user-card .profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
}

.user-card .name1 {
  max-width: 25%;
  min-height: 14px;
  border-radius: 10px;
}
.user-card .name2 {
  max-width: 50%;
  min-height: 14px;
  border-radius: 10px;
}
.user-card .name3 {
  max-width: 75%;
  min-height: 14px;
  border-radius: 10px;
}

.user-card .name4 {
  max-width: 100%;
  min-height: 14px;
  border-radius: 10px;
}

.user-card > * {
  margin: 16px 0px;
}

.skeleton {
  background-color: #a5a5a5;
  animation: skeleton-animation 1s infinite ease-in-out;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
